# Ignore everything in node_modules and build for Angular
/ui/node_modules/
/ui/dist/
/ui/.angular/cache/
/ui/.angular/

/ui/.env
/ui/.env.*  # in case you use env files

# IDE/editor files
**/.idea/
**/.vscode/
**/*.iml

# Logs
**/*.log
**/logs/

# OS files
.DS_Store
Thumbs.db

# Ignore build and target folders for Java Spring Boot
/api/target/

/api/.classpath
/api/.project
/api/.settings/
.api_working_dir/

# Maven specific
/api/.mvn/
.api/mvnw
/api/mvnw.cmd

# Ignore IntelliJ out/ folders
**/out/

# Ignore test coverage
/ui/coverage/
**/test-output/
**/.nyc_output/

# Flyway SQL logs (if any)
**/flyway-schema-history.table

